In [1]:
import pandas as pd
import numpy as np

1. (1p) Load the data from 'countries.csv' file into a Pandas DataFrame. Assign the name of dataframe as df_countries. Print the first 5 records of the dataframe

In [2]:
filename = 'countries.csv'

In [3]:
df_countries = pd.read_csv(filename)
print(df_countries.head())

      location continent  population  life_expectancy  \
0  Afghanistan      Asia    38928341            64.83
1      Albania    Europe     2877800            78.57
2      Algeria    Africa    43851043            76.88
3      Andorra    Europe       77265            83.73
4       Angola    Africa    32866268            61.15

   hospital_beds_per_thousand  gdp_per_capita
0                        0.50        1803.987
1                        2.89       11803.431
2                        1.90       13913.839
3                         NaN             NaN
4                         NaN        5819.495

2. (1p) How many countries does the dataframe 'df_countries' contain? Use the function to print the number of rows and columns in the 'df_countries'

In [4]:
print(df_countries.shape)

(210, 6)

3. (1p) Count the number of missing values in each columns of 'df_countries'

In [5]:
df_countries.isna().sum()

location                       0
continent                      0
population                     0
life_expectancy                3
hospital_beds_per_thousand    46
gdp_per_capita                27
dtype: int64

4. (1p) Replace missing values in column 'hospital_beds_per_thousand' with value 0. Print the first 5 records of the dataframe

In [6]:
df_countries['hospital_beds_per_thousand'] = df_countries['hospital_beds_per_thousand'].fillna(0)
print(df_countries.head())

      location continent  population  life_expectancy  \
0  Afghanistan      Asia    38928341            64.83
1      Albania    Europe     2877800            78.57
2      Algeria    Africa    43851043            76.88
3      Andorra    Europe       77265            83.73
4       Angola    Africa    32866268            61.15

   hospital_beds_per_thousand  gdp_per_capita
0                        0.50        1803.987
1                        2.89       11803.431
2                        1.90       13913.839
3                        0.00             NaN
4                        0.00        5819.495

5. (1p) Calculate the total population of all the countries that are listed in the dataset. Your answer should include the function that will calculate the sum.

In [7]:
total_population = df_countries['population'].sum()
print(total_population)

7757980095

6. (2p) Sort the dataframe by 2 variables: 'continent' in ascending order, 'population' in descending order. The sorting should be written in one line of code

In [8]:
df_countries.sort_values(by=['continent', 'population'], ascending=[True, False])

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
141,Nigeria,Africa,206139587,54.69,0.0,5338.454
63,Ethiopia,Africa,114963583,66.60,0.3,1729.927
58,Egypt,Africa,102334403,71.99,1.6,10550.206
52,Democratic Republic of Congo,Africa,89561404,60.68,0.0,808.133
187,Tanzania,Africa,59734213,65.46,0.7,2683.304
...,...,...,...,...,...,...
149,Paraguay,South America,7132530,74.25,1.3,8827.010
201,Uruguay,South America,3473727,77.91,2.8,20551.409
84,Guyana,South America,786559,69.91,1.6,7435.047
180,Suriname,South America,586634,71.68,3.1,13767.119
65,Falkland Islands,South America,3483,81.44,0.0,NaN

7. (2p) How many countries have a high life expectancy? Subset rows where 'life_expectancy' is greater than 80.0, and then calculate the number of countries. (Hint: the number of countries can be calculated using the function that prints the number of rows and columns in dataframe)

In [9]:
df_countries[df_countries['life_expectancy'] > 80.0].shape

(47, 6)

8. (2p) Create and add a new column in countries_df to show the overall GDP per country. The overall GDP os calculated by multiplying population to per capita GDP. Print the first 5 records of the dataframe to check if the new column was added

In [10]:
df_countries['gdp_per_country'] = df_countries['population'] * df_countries['gdp_per_capita']
print(df_countries.head())

      location continent  population  life_expectancy  \
0  Afghanistan      Asia    38928341            64.83
1      Albania    Europe     2877800            78.57
2      Algeria    Africa    43851043            76.88
3      Andorra    Europe       77265            83.73
4       Angola    Africa    32866268            61.15

   hospital_beds_per_thousand  gdp_per_capita  gdp_per_country
0                        0.50        1803.987     7.022622e+10
1                        2.89       11803.431     3.396791e+10
2                        1.90       13913.839     6.101364e+11
3                        0.00             NaN              NaN
4                        0.00        5819.495     1.912651e+11

9. (1p) Subset rows that will show countries only in 'Europe' and 'Asia'

In [11]:
df_countries[df_countries['continent'].isin(['Europe', 'Asia'])]

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp_per_country
0,Afghanistan,Asia,38928341,64.83,0.50,1803.987,7.022622e+10
1,Albania,Europe,2877800,78.57,2.89,11803.431,3.396791e+10
3,Andorra,Europe,77265,83.73,0.00,NaN,NaN
8,Armenia,Asia,2963234,75.09,4.20,8787.580,2.603966e+10
11,Austria,Europe,9006400,81.54,7.37,45436.686,4.092210e+11
...,...,...,...,...,...,...,...
198,United Kingdom,Europe,67886004,81.32,2.54,39753.244,2.698689e+12
202,Uzbekistan,Asia,33469199,71.72,4.00,6253.104,2.092864e+11
203,Vatican,Europe,809,75.12,0.00,NaN,NaN
205,Vietnam,Asia,97338583,75.40,2.60,6171.884,6.007624e+11
207,Yemen,Asia,29825968,66.12,0.70,1479.147,4.411699e+10

10. (1p) Change the index of the dataframe from numerical to values in column 'location'. Print the first 5 records of the dataframe

In [12]:
df_countries = df_countries.set_index('location')
print(df_countries.head())

            continent  population  life_expectancy  \
location
Afghanistan      Asia    38928341            64.83
Albania        Europe     2877800            78.57
Algeria        Africa    43851043            76.88
Andorra        Europe       77265            83.73
Angola         Africa    32866268            61.15

             hospital_beds_per_thousand  gdp_per_capita  gdp_per_country
location
Afghanistan                        0.50        1803.987     7.022622e+10
Albania                            2.89       11803.431     3.396791e+10
Algeria                            1.90       13913.839     6.101364e+11
Andorra                            0.00             NaN              NaN
Angola                             0.00        5819.495     1.912651e+11

11. (1p) Slice the dataframe to select countries from 'Canada' to 'Costa Rica' using .loc()

In [13]:
df_countries.loc['Canada':'Costa Rica']

,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp_per_country
location,,,,,,
Canada,North America,37742157,82.43,2.50,44017.591,1.661319e+12
Cape Verde,Africa,555988,72.98,2.10,6222.554,3.459665e+09
Cayman Islands,North America,65720,83.92,0.00,49903.029,3.279627e+09
Central African Republic,Africa,4829764,53.28,1.00,661.240,3.193633e+09
Chad,Africa,16425859,54.24,0.00,1768.153,2.904343e+10
Chile,South America,19116209,80.18,2.11,22767.037,4.352194e+11
China,Asia,1439323774,76.91,4.34,15308.712,2.203419e+13
Colombia,South America,50882884,77.29,1.71,13254.949,6.744500e+11
Comoros,Africa,869595,64.32,2.20,1413.890,1.229512e+09
Congo,Africa,5518092,64.57,0.00,4881.406,2.693605e+10
Costa Rica,North America,5094114,80.28,1.13,15524.995,7.908609e+10

12. (2p) Slice the dataframe to select countries from 'Kazakhstan' to 'Malaysia', and 2 columns: 'population' and 'gdp_per_capita' using .loc() function.

In [14]:
df_countries.loc['Kazakhstan':'Malaysia', ['population', 'gdp_per_capita']]

               population  gdp_per_capita
location
Kazakhstan       18776707       24055.588
Kenya            53771300        2993.028
Kosovo            1932774        9795.834
Kuwait            4270563       65530.537
Kyrgyzstan        6524191        3393.474
Laos              7275556        6397.360
Latvia            1886202       25063.846
Lebanon           6825442       13367.565
Lesotho           2142252        2851.153
Liberia           5057677         752.788
Libya             6871287       17881.509
Liechtenstein       38137             NaN
Lithuania         2722291       29524.265
Luxembourg         625976       94277.965
Macedonia         2083380       13111.214
Madagascar       27691019        1416.440
Malawi           19129955        1095.042
Malaysia         32365998       26808.164

13. (3p) What are the 10 countries with the highest life_expectancy? Create a new dataframe from 'df_countries' that will include 10 countries with the highest life_expectancy. Assign name for a new dataframe as 'highest_LifeExp_countries'

In [15]:
highest_LifeExp_countries = df_countries.sort_values('life_expectancy', ascending=False)[0:10]

14. (1p) Save newly created dataframe 'highest_LifeExp_countries' as a 'highest_LifeExp_countries.csv' file.

In [16]:
highest_LifeExp_countries.to_csv('highest_LifeExp_countries.csv')

#Overall 20 points